*, body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.7em;
    margin: 0px;
    padding: 0px;
}

.header{
    background-image: url('../img/photographer.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    width: 100%;
}

.top-banner{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgba(0,0,0,0.2);
}

.logo img{
    margin-left: 30px;
    height: 75px;
    width: auto;
    margin: 20px 30px;
}

.nav{
    text-align: right;
    padding-right: 30px;
    margin-top: 40px;
}

.nav a{
    text-decoration: none;
    color: blue;
    padding: 10px;
    font-size: 18px;
}

.nav a:hover{
    color: white;
}

.header-info{
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
}

.header-info h1{
    color: white;
    font-size: 40px;
}

.header-info h2{
    color: maroon;
}

.portfolio-title{
    text-align: center;
    color: maroon;
    height: 100px;
    width: 100%;
}

.portfolio-title h1{
    padding: 50px 0px;
}

.portfolio{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.portfolio img{
    height: 200px;
    width: 300px;
    box-shadow: 5px 8px 10px grey;
}

.portfolio h3{
    padding: 10px 0px 50px 0px;
    color: maroon;
}

.box1, .box2, .box3, .box4, .box5, .box6{
    text-align: center;
}

.footer{
    width: 100%;
    text-align: center;
    background-color: maroon;
    color: white;
}

.footer-info{
    margin-top: 20px;
    padding: 20px 0px;
}

@media (max-width: 1020px){
    .top-banner{
        display: block;
        background-color: rgba(0,0,0,0.2);
        text-align: center;
    }

    .nav{
        text-align: center;
        margin: 0;
    }

    .logo img{
        height: 50px;
        margin: 10px 0px;
    }
}

@media (max-width: 1000px){
    .portfolio{
        display: block;
    }
}

@media (max-width: 800px){
    .header{
        background-image: url('../img/photographer.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        height: 800px;
        width: 100%;
    }

    .header-info{
        position: absolute;
        left: 50%;
        top: 60%;
        transform: translate(-50%, -50%);
        text-align: center;
    }


}

@media (max-width: 570px){
    .header{
        background-image: url('../img/photographer.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: -120px;
        height: 800px;
        width: 100%;
    }
}